{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col mb-5">
    <h2>Reservations</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Confirmation number</th>
          <th scope="col">Expected Pickup Date</th>
          <th scope="col">Status</th>
          <th scope="col">Date Placed</th>
          <th scope="col">Value</th>
          <th scope="col">Share</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
        <tr>
          <td>
            <a href="reservation/{{ reservation._id }}"
              >{{ 'Not placed (' ~
              reservation.order_date_last_progress.strftime('%Y-%m-%d') ~ ')' if
              reservation.order_date_place == 0 else reservation._id }}</a
            >
          </td>
          <td>
            {{ '-' if reservation.order_date_pickup == 0 else
            reservation.order_date_pickup.strftime('%Y-%m-%d') }}
          </td>
          <td>
            {{ reservation.reservation_status }}
          </td>
          <td>
            {{ '-' if reservation.order_date_place == 0 else
            reservation.order_date_place.strftime('%Y-%m-%d') }}
          </td>
          <td>${{ reservation.reservation_total }}</td>
          <td><i class="fas fa-share-alt"></i></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
