{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Reservation</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row justify-content-center">
      <div class="col mb-5">
        <a href="/me/reservations">Back to Reservations</a>
        <h2>Reservation details</h2>
        <p><strong>Order Placed:</strong> {{reservation.order_date_place}}</p>
        <p>
          <strong>Pickup scheduled:</strong> {{reservation.order_date_pickup}}
        </p>
        <p>
          <strong>Pickup confirmed by us:</strong>
          {{reservation.order_date_confirm}}
        </p>
        <p>
          <strong>Customer:</strong>
          {{ reservation.client_name }} (<a
            href="mailto://{{ reservation.client_email }}"
            >{{ reservation.client_email }}</a
          >)
        </p>

        <h2>Products</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Amount</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for product in reservation["products"] %}
            <tr>
              <td>{{product.name}}</td>
              <td>
                {{product.amount}} <i class="bi bi-dash-circle-fill"></i>
                <i class="bi bi-plus-circle-fill"></i>
                <i class="bi bi-trash-fill"></i>
              </td>
              <td>$0</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
