body {
  background: url("/static/assets/image-from-rawpixel-id-578551-jpeg.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.text-nav {
  font-size: 1rem;
}
.text-nav a {
  color: rgba(255, 255, 255, 0.7);
}
.text-nav a:hover {
  color: #fff;
}

.text-tiny {
  font-size: 0.8rem !important;
}
.text-tiny a {
  color: #fff;
}
.text-tiny a:hover {
  color: rgba(255, 255, 255, 0.7);
}
