{% extends "base.html" %} {% block content %}
<div class="container px-lg-5 mt-lg-5 mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <div class="container-fluid p-0 m-0">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h2>Administration</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-2">
            <h3>Navigation</h3>
            {% include 'admin/navbar.html' %}
          </div>
          <div class="col-12 col-lg-10">
            {% block admin_base %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
