{% extends "base.html" %} {% block content %}
<div class="container px-4 px-lg-5 mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h2>Administration</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">{% include 'admin/navbar.html' %}</div>
          <div class="col-10">{% block admin_base %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
