{% extends "admin/admin_base.html" %} {% block admin_base %}
<h3>Click & Collect</h3>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Pickup date</th>
      <th scope="col" class="text-center">Placed order</th>
      <th scope="col" class="text-end">number of items</th>
      <th scope="col" class="text-end">Order Value</th>
    </tr>
  </thead>
  <tbody>
    {% for reservation in reservations %}
    <tr>
      <th scope="row">
        <a href="collect/{{reservation._id}}">{{reservation.client_name}}</a>
      </th>
      <td>
        <a href="collect/{{reservation._id}}">
          {% if reservation.order_date_pickup != 0
          %}{{reservation.order_date_pickup}}{% else %}-{% endif %}
        </a>
      </td>
      <td class="text-center">
        {% if reservation.order_placed %}<i class="far fa-check-square"></i>{%
        else %}<i class="far fa-square"></i>{% endif %}
      </td>
      <td class="text-end">{{reservation.order_item_count}}</td>
      <td class="text-end">$ {{reservation.order_value}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
