<!-- Navigation-->
<header>
  <h1>
    <a class="" href="{{ url_for('index') }}"
      ><img
        src="{{ url_for('static',filename='assets/logo.png')}}"
        alt="purple rooster farm shop logo"
    /></a>
  </h1>

  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid px-4 px-lg-5">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="w-100 d-flex">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item   ">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('index') }}"
                >ABOUT</a
              >
            </li>
            {% if categories %} {% for category in categories %}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('products',category=category.name) }}"
                >{{ category.name }}</a
              >
            </li>
            {% endfor %} {% endif %}

            <li class="nav-item"></li>
          </ul>
          <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('admin') }}"
                ><i class="fas fa-toolbox"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('index') }}"
                ><i class="fas fa-search"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('profile') }}"
                ><i class="fas fa-user-circle"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link position-relative"
                aria-current="page"
                href="{{ url_for('basket') }}"
                ><i class="fas fa-shopping-cart "></i>{% if basketItems > 0
                %}<span
                  class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  {{ basketItems }}
                  <span class="visually-hidden">unread messages</span> </span
                >{% endif %}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
