<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="" />
    <title>Index</title>
  </head>
  <body>
    <!-- Navigation -->
    <a href="/">Index</a>

    <!-- Page Header -->
    <header></header>

    <!-- Main Content -->
    <h1>Index</h1>

    <!-- Footer -->
    <footer>
      Footer
    </footer>

    <!-- Bootstrap core JavaScript -->

    <!-- Custom scripts for this template -->
  </body>
</html>
